<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="styles/home.css">
    <title>URL Shortner By Astro</title>
</head>
<body>
    <div class="main">

        
            
            <form action="/url" method="post">
        <label for="url">Your Link  </label>
        <input required type="text" id="url" name="url" placeholder="yoursite.com" id="">
        <button  type="submit" >Submit</button>
    </form>

<div class="clipboardDiv">
    
    <!-- The text field -->
    <label for="myInput">Short URL</label>
    <% if (locals.shortURL) { %>
     
        <input readonly  type="text" value=<%= shortURL %> id="myInput">
        
        <% } %> 
        <% if(!locals.shortURL) { %>
            <input readonly  type="text" value="Short URL" id="myInput">
        

            <% } %>
         
<!-- The button used to copy the text -->
<button onclick="copyToClipboard()">Copy text</button>
</div>


</div>
<h3>Other URLs Created by You</h3>
<% if (locals.urls) { let i=1; %>
 <% urls.forEach(url => { %>
    <table>
      <tr style="color: rgb(17, 41, 3);">
        <th><pre>Sr. No.       </pre></th>
        <th><pre>Redirect URL       </pre></th>
          <th><pre>ShortURL       </pre></th>
          <th><pre>Total Clicks       </pre></th>
        </tr>
        <tr>
            <td><%= i %></td>
            <td><%= url.redirectURL %></td>
            <td><%= url.shortURL %></td>
            <td><%= url.visitHistory.length %> </td>
        </tr>
          

    
    
    
    </table>
  
 <% i++; }) %>
<% } %>
<script>
    function copyToClipboard() {
        // Get the text field
        var copyText = document.getElementById("myInput");

  // Select the text field
  copyText.select();
  copyText.setSelectionRange(0, 99999); // For mobile devices

   // Copy the text inside the text field
  navigator.clipboard.writeText(copyText.value);

  // Alert the copied text
  alert("Copied the text: " + copyText.value);
}
</script>
</body>

</html>